extends layout

block content
  h1= title
  .container-fluid
    .row
      - let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          p Name: #{item.Name}
          p color: #{item.color}
          p Age: #{item.Age}
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }